_site
_yardoc
_yardoc
.bundle
.config
.ruby-version
.yardoc
*.gem
*.gemfile.lock
*.rbc
coverage
docs
Gemfile.lock
Gemfile.lock
gemfiles/*.gemfile.lock
gemfiles/*.gemfile.lock
InstalledFiles
InstalledFiles
lib/bundler/man
pkg
rdoc
test/tmp
test/version_tmp
tmp
